{% extends "@App/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .text-center{
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ui segment" id="mainContent">
        Bezgotówkowa kompensacja finansów
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}