<div class="ui segment">
    <div class="ui grid">
        <div class="ui ten wide column">
            <table id="paramsTable" class="display" style="width:100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Kategoria</th>
                    <th>Nazwa</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="ui six wide column">
            <div class="ui segment" >
                <h3>Dodawanie</h3>
                <div>
                    <div class="ui form">
                    {{ form_start(form) }}
                        <div class="field">
                            <label>Typ</label>
                            {{ form_widget(form.category) }}
                        </div>
                        <div class="field">
                            <label>Wartość</label>
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="field">
                            <input type="submit" value="Zapisz" class="ui fluid green button">
                        </div>
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

