<table style="width: 100%">
    <tr>
        <td style="color: gray; font-size: 9px; text-align: center; border: none;
            border-top: 1px solid black; padding-top: 4px">
            RADIO TAXI 919 Sp. z o.o. KRS: 0000146058, NIP: 6760101000, REGON: 350617815

        </td>
    </tr>
    <tr>
        <td style="color: gray; font-size: 9px; text-align: center; border: none;">
            tel. 12 410 76 72, email: biuro@radiotaxi919.pl
        </td>
    </tr>
</table>